* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(252, 243, 232);
    background: linear-gradient(264deg, rgba(252, 243, 232, 1) 53%, rgba(255, 255, 255, 1) 100%);
}

.container .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-nyt button{
    box-shadow: rgb(44,95,136) 5px 8px 1px, rgb(44,95,136) -9px -9px 12px;
    background: rgb(243, 243, 245)

}
.container .about {
    margin-top: 25px;
    text-align: center;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 6vh;
    border-bottom: solid black 2px;
    display: inline;
    margin-bottom: 20px;
}

.head {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
}

.info-story {
    font-size: 18px;
}

#storyx {
    margin: 20px auto;
    width: 60%;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    display: center;
    justify-content: center;
    align-items: center;
}

.intro .intro-name {
    font-weight: 600;
    font-size: 4vh;
}

.hiis {
    width: 80%;
    font-size: 15px;
    font-weight: 550;
    text-align: center;
}

.intro p {
    font-size: 16px;
}

.container .intro-name {
    font-size: 4vh;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
    margin-bottom: 20px;
}

.dec {
    font-size: 20px;
    font-weight: 700;
}

.img-main {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(248, 255, 209, 0.4), rgba(250, 250, 250, 0.3)), url(./../img/about-img/bg2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.img-big {
    margin: 2px auto;
    margin-top: 20px;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.btn-r{
    height: 4.5rem;
    margin: 10px;
    transition: 2s linear;
    cursor:pointer;
}
.btn-r:hover{
   scale: 1.2;
}

.img-big .main-img {
    
    height: 90%;    
    border-radius: 12Px;
    /* scale: 1; */
    transition: 0.5s ease-in-out;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
}

.main-img:hover {
    scale: 1.02;
    border-radius: 18px;
}

.arrow {
    height: 55px;
    margin: 60px;

}

.img-sm {
    height: 10vh;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sms:hover {
    box-shadow: 28px 28px 45px #0d0d25, -28px -28px 45px #ffffff;
    scale: 1.2;
}

.img-sm img {
    height: 100%;
    margin: 2px 7px;
    border-radius: 15px;
    scale: 1;
    transition: 0.5s ease-in-out;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
}

.info-story {
    width: 80%;
    margin: 10px auto;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.info-story p {
    font-size: 2.5rem;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.red {
    color: red;
    font-weight: 550;
    font-size: 25px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-box {
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box button {
    height: 8vh;
    width: 13vw;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    border: none;
    cursor: pointer;
    margin: 0px 10px;
    background: rgb(243, 243, 245)
}

.btn-box button:hover {
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
    transition: 0.3s;
}

.remove {
    display: none;
}

.op {
    font-size: 25px;
    text-align: center;
    width: 70%;
    margin-bottom: 25px;
}

.op ul li {
    font-size: 20px;
}

.img-recepi {
    height: 200px;
    border-radius: 12px;
    transition: 0.5s ease-in-out;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    margin: 10px;
    background-color: #fcf3e8;

}

.img-recepi:hover {
    scale: 1.02;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    /* 1rem=10px */
    overflow-x: hidden;

}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    height: 11rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    background-color: #81b1ce;
    border-color: #f2f2f2;
    box-shadow: 0 10px 55px #d4d4d4;

}
.modes-btn{
    height: 3rem;
    margin: 1rem;
}
.nyt{
    color: #f2f2f2;
    background: rgb(10, 10,31);
    background: linear-gradient(264deg, rgba(23, 2, 23, 1) 53%, rgba(25, 25, 5, 1) 100%);
}
.logo {
    height: 4rem;
    position: relative;
    /* top: -0.2rem; */
}

.navbar-list {
    display: flex;
    gap: 4rem;
    list-style: none;
}

.link:link,
a {
    text-decoration: none;
    display: inline-block;
    /* to remove underline and add padding */
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    color: #212129;
}

.link:link:hover,
a:hover {
    color: #00ace6;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00ace6;
}

.mobile-nav {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mob-i {
    height: 4rem;
    width: 4rem;
}

.x {
    display: none;
}

   .footer-continer{
    height: 80vh;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: rgb(187, 186, 184);
}
.footer-info{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
   
    text-align: center;

}
.footer-logo {
    height: 20vh;
    width: 20vw;
    
    object-fit: contain;
}

.footer-info p{
    color:black;
    margin-top: 40px;
    font-size: 1vw;
    margin-bottom: 5vh;
}
.footer-social{
    display: flex;
    justify-content: space-evenly;
}

.footer-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border-radius: 50%;
    text-align: center;
    font-size: 1vw;
    object-fit: cover;
}

.footer-icon:hover{
    box-shadow: 5px 5px 20px rgb(158, 157, 157);
}
.footer-time{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-time h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;
    margin-bottom: 10vh;
}

.footer-time p{
    color: black;
    font-size: 1.5vw;
    display: flex;
    
}
.pag{
    margin-top: 2vh;
}
.footer-time p svg{

    height: 3vh;
}
.footer-link{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    
    text-align: center;
    

}
.footer-pages{
    display: flex;
    flex-direction: column;
}

.footer-link a{
    margin-top: 2vh;
    text-decoration: none;
}
.footer-link a{
    text-decoration: none;
}
.footer-link h1{
    margin-top: 10vh;
    font-size: 2.5vw;
}


.footer-compani{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
  
    text-align: center;

}
.footer-compani h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;;
}
.company-taxt{
    display: flex;
    flex-direction: column;
}
.company-taxt a{
    margin-top: 3vh;

}


@media screen and (max-width:480px) {
    .footer-continer{
        height: 190vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-info{
        height: 50vh;
        width: 100%;
    }
    .footer-logo{
        display: block;
        margin: 0px auto;
        height: 22vh;
        width: 69vw
    }

    .footer-info p{
        font-size: 4vw;
    }
    .footer-time{
        height: 50vh;
        width: 100%;
    }
    .footer-time h1{
        font-size: 7.5vw;
        color: #8f2839;
    }
    .footer-time p{
        font-size: 5.5vw;
    }
    .footer-link{
        width: 100%;
        height: 61vh;
    }
    .footer-link h1{
        font-size: 9.5vw;
        color: #8f2839;

    }
    .footer-compani{
        height: 50vh;
        width: 100%;
    }

    .footer-compani h1{
        font-size: 7.5vw;
        color: #8f2839;
    }

    
}


@media screen and (min-width:482px) and (max-width:600px){
    .footer-continer{
        height: 118vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .footer-info{
        height: 40vh;
        width: 50%;
    }
    .footer-info p{
        font-size: 2vw;

    }
    .footer-time{
        height: 40vh;
        width: 50%;
    }
    .footer-time h1{
        font-size: 3vw;
    }
    .footer-time p{
        font-size: 2.5vw;
    }
    .footer-link{
        height: 80vh;
        width: 50%;
    }

    .footer-compani{
        height: 80vh;
        width: 50%;
    }
    
}

@media screen and (max-width: 1105px) {
    .mobile-nav {
        display: block;
        z-index: 900;
    }

    .logo {
        width: 10%;

    }

    .header {
        position: relative;
    }

    .nav-bar {
        position: absolute;
        /* display: none; */
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background: #b4e1ff;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .active .nav-bar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .x {
        display: block;
    }

    .active .M {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .logo {
        font-size: 20vw;
        position: relative;
        top: -1rem;
        width: 12vw;
    }
}

@media screen and (min-width:987px) and (max-width:1221px) {
    .info-story p {
        font-size: 3vw;
    }

}

@media screen and (min-width:751px) and (max-width:986px) {
    .info-story p {
        font-size: 3.2vw;
    }

    .btn-box button {
        font-size: 18px;
    }

    .img-big .main-img {
        height: 250px;
        width: 300px;
    }

    #storyx p {
        font-size: 25px;
    }
}

@media screen and (min-width:520px) and (max-width:750px) {
    .info-story p {
        font-size: 3.6vw;
    }

    .img-big {
        height: 400px;
        width: 250px;
        flex-wrap: wrap;
    }

    .img-big .main-img {
        height: 250px;
        width: 300px;
    }

    #storyx p {
        font-size: 25px;
    }

    .btn-box button {
        font-size: 15px;
    }

    .dec {
        display: none;
    }
}

@media screen and (max-width:519px) {

    .img-big .main-img {
        height: 150px;
        width: 170px;
    }

    #storyx p {
        font-size: 25px;
    }

    .btn-box button {
        font-size: 10px;
    }

    .img-recepi {
        height: 150px;
    }

    #dis {
        display: none;
    }

    .dec {
        display: none;
    }

    .img-sm {
        margin-bottom: 100px;
    }
}