
body{
    background-color: #f3f3f5;
    position: relative;
    
}
.tital-continer{

    

    height: 90vh;

    margin: 8vh 0px;
    margin-left: 20px;
    display: flex;
}
.left{
    height: 90vh;
    width: 50vw;
   
    position: relative;
    
   
}
.left p{
    font-size: 1vw;
}
.left h1{
    font-size: 7vw;
    font-weight: 700;

    
}

.left span{
    color: #ff8243;
    background-image: linear-gradient(0deg, rgb(13 13 37 / 8%), rgb(13 13 37 / 8%));
}
.right {
    height: 50vh;
    width: 40vw;
    border-radius: 50%;
    margin-top: 10vh;
    margin-left: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 30px rgb(27, 26, 26);
    transition: 1s;

}
.right img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    
    
}

.right:hover{
transform: scale(1.03)
} 
.title-btn{
    position: absolute;
    top: 80vh;
    left: 3px;
}  
.btn{
    height: 8vh;
    width: 13vw;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: rgb(178, 178, 179) 9px 9px 12px, rgb(255, 255, 255) -9px -9px 12px;
    border: none;
    cursor: pointer;
    
    background: rgb(243, 243, 245)
}
.btn:hover{
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
   color:#0d0d25;
}
#page2{
    height: 130vh;
    width: 100%;
    
}
#page2-btn a{
    border: none;

}
#page2 h1{
    text-align: center;
}
.page2-btn{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card-continer{
    width: 100%;
    flex-wrap: wrap;
    display: flex; 
    margin: 25vh 0px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    height: 85vh;
    width: 22vw;
    border-radius: 30px;
    
    
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #f1cbcb;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
   
    position: relative;
}
.card:hover{
    transform: scale(1.02);
     box-shadow: 20px 20px 45px #aaa6a6; 
}
.card-img{
    position: absolute;
    top: -100px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.card-img img{
    height: 31vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
    border-radius: 50%;
 

}
.dish-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    
    font-size: 1.5vw;
}
.info{
    height: 20vh;
    text-align: center;
    font-size: 1.5vw;
    
}
.info p{
    font-size: 1.5vw;
    color: #b6a8a8;
}
.quentity{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
   
}
.quentity img{
    cursor: pointer;
}
.que{
    height: 8vh;
    font-size: 1.5vw;
    
    text-align: center;
}
.quentity p{
    height: 10vh;
    font-size: 1.5vw;
}
.product-quentity{
    font-size: 1.5vw;
}

.prise p{
    height: 8vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5vw;
}
.order-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  
}


#page3{
    height: 50vh;
    margin: 20vh 0px;
}
#compani-iteam{
    display: flex;
    align-items: center;
    justify-content: center;
}
   
#page3 h6{
    text-align: center;
    
    font-size: 2vw;
    color:    rgb(146, 128, 128);
}

.iteam{
    height: 34vh;
    transition: 1.5s;
    object-fit: fill;
 
}

.iteam:hover{
    transform: scale(1.03)

}







*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    /* 1rem=10px */
    overflow-x: hidden;

}
body{
    overflow-x: hidden;
}
.header{
    display: flex;
    height: 11rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    background-color:#81b1ce;
    border-color: #f2f2f2;
    box-shadow: 0 10px 55px #d4d4d4;
    
}
.logo{
    height: 4rem;
}
.navbar-list{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.link:link, a{
    text-decoration: none;
    display: inline-block; /* to remove underline and add padding */
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    color: #212129;
}
.link:link:hover, a:hover{
    color: #00ace6;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00ace6;
}
.mobile-nav{
    display: none;
    background: transparent;
     cursor: pointer;
}
.mob-i{
    height: 4rem;
    width: 4rem;
}
.x{
    display: none;
}


@media screen and (max-width: 1105px){
    .mobile-nav{
        display: block;
        z-index: 900;
    }
    .logo{
        width: 10%;
        
    }
    .header{
        position: relative;
    }
    .nav-bar{
        position: absolute;
        /* display: none; */
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background:#b4e1ff ;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
    }
    .active .nav-bar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .x{
        display: block;
    }
    .active .M{
        display:none;
   }
}


    






@media screen and (max-width: 1105px){
    .mobile-nav{
        display: block;
        z-index: 900;
    }
    .logo{
        width: 10%;
        
    }
    .header{
        position: relative;
    }
    .nav-bar{
        position: absolute;
        /* display: none; */
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background-color:#094770 ;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
    }
    .active .nav-bar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .x{
        display: block;
        
    }
    .active .M{
        display:none;
    }


}





@media screen and (max-width:480px) {
    
    .tital-continer{
        height: 85vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
   .tital-continer .left h1{
      text-align: center;
      font-size: 8vw;

    }
    .logo{
        width: 20vw;
    }
    .left{
        height: 37vh;
        width: 100%;
        

    }
    .left P{
        width: 100%;
        text-align: center;

    }
    #page2{
        height: 440vh;
        width: 100%;
    }
    .page2-btn{
        margin-top: 5vh;
    }


    .right{
        width: 100%;
        margin: 0px;
        border-radius: 50%;
        box-shadow: 10px 10px 20px white;
    }
    .right img{
        border-radius: 50%;
    }
    #card-continer{
        height: 100vh;
        margin: 0px;
      
    }
    .card{
        height: 80vh;
        width: 82vw;
        margin-top: 150px;
    }
    .card-img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dish-rating{
        font-size: 4.5vw;
    }
    .info h3{
        font-size: 6vw;
    }
    .info p{
        font-size: 4vw;
    }
    .que{
        font-size: 5vw;
    }
    .quentity p{
        font-size: 4.5vw;
    }
    .prise p{
        font-size: 5vw;
    }
    .btn{
        width: 42vw;
        font-size: 3.5vw;
    }






    #page3 {
        height: 171vh;
        margin: 0px;
        
    }
    #page3 h6{
        font-size: 5vw;
    }

    #compani-iteam{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .iteam {
        width: 73vw;
    }
}


@media screen and (min-width:481px) and (max-width:721px) {
    .tital-continer{
        height: 52vh;
      
        overflow: hidden;
    }
   .tital-continer .left h1{
      text-align: center;
      font-size: 8vw;

    }
    .left{
        height: 37vh;
        width: 100%;
        

    }
    .left P{
        width: 100%;
        text-align: center;

    }
    #page2{
        height: 235vh;
        width: 100%;
    }
    .right{
        width: 100%;
        margin: 0px;
        border-radius: 50%;
        box-shadow: 10px 10px 20px white;
    }
    .right img{
        border-radius: 50%;
    }
    #card-continer{
        height: 100vh;
        margin:0px;
      
    }
    .card{
        height: 84vh;
        width: 40vw;
        margin-top: 20vh;
        
    }
    .card-img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dish-rating{
        font-size: 3.5vw;
    }
    .info h3{
        font-size: 4vw;
    }
    .info p{
        font-size: 3vw;
    }
    .que{
        font-size: 3.5vw;
    }
    .quentity p{
        font-size: 4vw;
    }
    .prise p{
        font-size: 3.5vw;
    }
    .btn{
        width: 27vw;
        font-size: 3vw;
    }






    #page3 {
        height: 113vh;
        margin: 0px;
        
    }
    #page3 h6{
        font-size: 5vw;
    }

    #compani-iteam{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        
    
        
    }
    .iteam {
        width: 40vw;
    }

}

@media screen and (min-width:722px) and (max-width:1015px){
    .tital-continer{
        height: 52vh;
      
        overflow: hidden;
    }
   .tital-continer .left h1{
      text-align: center;
      font-size: 8vw;

    }
    .left{
        height: 37vh;
        width: 100%;
        

    }
    .left P{
        width: 100%;
        text-align: center;

    }
    #page2{
        height: 274vh;
        width: 100%;
    }
    .page2-btn{
        margin-top: 5vh;
    }

    .right{
        width: 100%;
        margin: 0px;
        border-radius: 15px;
        box-shadow: 10px 10px 20px white;
    }
    .right img{
        border-radius: 50%;
    }
    #card-continer{
        height: 100vh;
        margin:0px;
      
    }
    .card{
        height: 88vh;
        width: 33vw;
        margin-top: 20vh;
        
    }
    .card-img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dish-rating{
        font-size: 3vw;
    }
    .info h3{
        font-size: 3vw;
    }
    .info p{
        font-size: 2.5vw;
    }
    .que{
        font-size: 2vw;
    }
    .quentity p{
        font-size: 3vw;
    }
    .prise p{
        font-size: 2.5vw;
    }
    .btn{
        width: 20vw;
        font-size: 3vw;
    }






    #page3 {
        height: 100vh;
        margin: 0px;
        
    }
    #page3 h6{
        font-size: 5vw;
    }

    #compani-iteam{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        
    
        
    }
    .iteam {
        width: 19vw;
    }   
    
}

@media screen and (min-width:1016px) and (max-width:1115px){
    .tital-continer{
        height: 52vh;
      
        overflow: hidden;
    }
   .tital-continer .left h1{
      text-align: center;
      font-size: 8vw;

    }
    .left{
        height: 37vh;
        width: 100%;
        

    }
    .left P{
        width: 100%;
        text-align: center;

    }
    #page2{
        height: 274vh;
        width: 100%;
    }
    .page2-btn{
        margin-top: 5vh;
    }
    .right{
        width: 100%;
        margin: 0px;
        border-radius: 50%;
        box-shadow: 10px 10px 20px white;
    }
    .right img{
        border-radius: 50%;
    }
    #card-continer{
        height: 100vh;
        margin:0px;
      
    }
    .card{
        height: 99vh;
        width: 28vw;
        margin-top: 20vh;
        
    }
    .card-img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dish-rating{
        font-size: 3vw;
    }
    .info h3{
        font-size: 3vw;
    }
    .info p{
        font-size: 2.5vw;
    }
    .que{
        font-size: 2vw;
    }
    .quentity p{
        font-size: 3vw;
    }
    .prise p{
        font-size: 2.5vw;
    }
    .btn{
        width: 20vw;
        font-size: 3vw;
    }






    #page3 {
        height: 117vh;
        margin: 0px;
        
    }
    #page3 h6{
        font-size: 5vw;
    }

    #compani-iteam{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        
    
        
    }
    .iteam {
        width: 25vw;
    }  

}


/*      footer css       */



.footer-continer{
    height: 80vh;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: rgb(187, 186, 184);
}
.footer-info{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
   
    text-align: center;

}
.footer-logo {
    height: 20vh;
    width: 20vw;
    
    object-fit: contain;
}

.footer-info p{
    color:black;
    margin-top: 40px;
    font-size: 1vw;
    margin-bottom: 5vh;
}
.footer-social{
    display: flex;
    justify-content: space-evenly;
}

.footer-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border-radius: 50%;
    text-align: center;
    font-size: 1vw;
    object-fit: cover;
}

.footer-icon:hover{
    box-shadow: 5px 5px 20px rgb(158, 157, 157);
}
.footer-time{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-time h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;
    margin-bottom: 10vh;
}

.footer-time p{
    color: black;
    font-size: 1.5vw;
    display: flex;
    
}
.pag{
    margin-top: 2vh;
}
.footer-time p svg{

    height: 3vh;
}
.footer-link{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    
    text-align: center;
    

}
.footer-pages{
    display: flex;
    flex-direction: column;
}

.footer-link a{
    margin-top: 2vh;
    text-decoration: none;
}
.footer-link a{
    text-decoration: none;
}
.footer-link h1{
    margin-top: 10vh;
    font-size: 2.5vw;
}


.footer-compani{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
  
    text-align: center;

}
.footer-compani h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;;
}
.company-taxt{
    display: flex;
    flex-direction: column;
}
.company-taxt a{
    margin-top: 3vh;

}


@media screen and (max-width:480px) {
    .footer-continer{
        height: 190vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-info{
        height: 50vh;
        width: 100%;
    }
    .footer-logo{
        display: block;
        margin: 0px auto;
        height: 22vh;
        width: 69vw
    }

    .footer-info p{
        font-size: 4vw;
    }
    .footer-time{
        height: 50vh;
        width: 100%;
    }
    .footer-time h1{
        font-size: 7.5vw;
        color: #8f2839;
    }
    .footer-time p{
        font-size: 5.5vw;
    }
    .footer-link{
        width: 100%;
        height: 61vh;
    }
    .footer-link h1{
        font-size: 9.5vw;
        color: #8f2839;

    }
    .footer-compani{
        height: 50vh;
        width: 100%;
    }

    .footer-compani h1{
        font-size: 7.5vw;
        color: #8f2839;
    }

    
}


@media screen and (min-width:482px) and (max-width:600px){
    .footer-continer{
        height: 118vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .footer-info{
        height: 40vh;
        width: 50%;
    }
    .footer-info p{
        font-size: 2vw;

    }
    .footer-time{
        height: 40vh;
        width: 50%;
    }
    .footer-time h1{
        font-size: 3vw;
    }
    .footer-time p{
        font-size: 2.5vw;
    }
    .footer-link{
        height: 80vh;
        width: 50%;
    }

    .footer-compani{
        height: 80vh;
        width: 50%;
    }
    
}




 